<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>MainServlet</servlet-class>
        <jsp-file>/main.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddList</servlet-name>
        <servlet-class>AddListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteList</servlet-name>
        <servlet-class>DeleteListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>AddTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTask</servlet-name>
        <servlet-class>DeleteTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefactorTask</servlet-name>
        <servlet-class>RefactorTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubTask</servlet-name>
        <servlet-class>AddSubTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubTask</servlet-name>
        <servlet-class>DeleteSubTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefactorSubTask</servlet-name>
        <servlet-class>RefactorSubTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Share</servlet-name>
        <servlet-class>ShareServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddList</servlet-name>
        <url-pattern>/add-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteList</servlet-name>
        <url-pattern>/delete-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/add-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTask</servlet-name>
        <url-pattern>/delete-task</url-pattern>
        <url-pattern>/complete-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefactorTask</servlet-name>
        <url-pattern>/refactor-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubTask</servlet-name>
        <url-pattern>/add-sub-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubTask</servlet-name>
        <url-pattern>/delete-sub-task</url-pattern>
        <url-pattern>/complete-sub-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefactorSubTask</servlet-name>
        <url-pattern>/refactor-sub-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Share</servlet-name>
        <url-pattern>/share</url-pattern>
    </servlet-mapping>


</web-app>